# Entorno ("development" o "production")
ENVIRONMENT=production

# Discord Bot
DISCORD_TOKEN=tu_discord_token_aqui
CLIENT_ID=tu_client_id
GUILD_ID=440275828509507597

# Base de Datos MySQL
DB_HOST=144.126.148.240
DB_PORT=8084
DB_USER=user_dev
DB_PASSWORD=tu_password_aqui
DB_DATABASE=webdata_db

# Webhooks
WEBHOOK_TEAM_ID=1459670351251374171
WEBHOOK_TEAM_TOKEN=tu_token_aqui
WEBHOOK_ERRORS_ID=1488613477110251671
WEBHOOK_ERRORS_TOKEN=tu_token_aqui

# Bot Links & Assets
BOT_ICON=https://9000inc.com/Resources/9000INCLogoV2.png
BOT_INVITE=tu_invite_link
BOT_SERVER_INVITE=https://discord.gg/mlg

# Lavalink Node 1
LAVALINK_1_NAME=Node 1
LAVALINK_1_HOST=lavalink.jirayu.net
LAVALINK_1_PORT=13592
LAVALINK_1_PASSWORD=youshallnotpass
LAVALINK_1_SECURE=false

# Lavalink Node 2
LAVALINK_2_HOST=lavalinkv4.serenetia.com
LAVALINK_2_PORT=443
LAVALINK_2_PASSWORD=https://seretia.link/discord
LAVALINK_2_SECURE=true

# Music Configuration (separar las id por comas si hay varias)
MUSIC_ALLOWED_SERVERS=440275828509507597
